body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e3f2fd;  
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px 5px;
    width: 70%;
    border-radius: 10px;
    margin: 10px 0px;
    border: 1px solid #90caf9;  
    background-color: #ffffff;  
    color: #0d47a1;             
}

a {
    color: #1565c0;  
    text-decoration: none;
}

.container {
    background-color: #ffffff;  
    width: 450px;
    height: 300px;
    border-radius: 18%;
    padding: 20px 40px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #90caf9;  
}

.login_button {
    background-color: #1565c0;  
    color: #ffffff; 
    margin-top: 10px;
    padding: 8px 3px;
    width: 100px;
    border-radius: 18px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login_button:hover {
    background-color: #0d47a1; 
}
